/*css3 transition effects for various moodle areas */
/*top nav menu */
.navbar .nav > li > a:hover,
div#totaramenu ul li a:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
