/*************************************************
GENERAL MENU
*************************************************/
.navbar-fixed-top, 
.navbar-fixed-bottom{
	position: relative;
	z-index: 100;
}
.navbar-fixed-top, 
.navbar-fixed-bottom, 
.navbar-static-top {
	margin: 0;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	border-bottom: 1px solid [[setting:backgroundcolor]];
}
.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner {
	padding: 0;
}
.navbar-inner {
	min-height: 1em;
}
.navbar .brand {
    display: none !important;
}
.navbar-text {
	color: #000;
	line-height: 1.1em;
	padding: 12px 0;
}
.navbar .nav > li > a {
	margin-bottom: -2px;
}
.loginfailures {
	font-size: 0.9em;
}
.navbar .nav.pull-right {
	margin-right: 10px;
}
.navbar .btn-navbar {
	padding: 6px;
	margin: 5px;
}
.nav-collapse .nav {
	margin: 0;
	padding: 0;
}
.dropdown-menu {border-radius: 0;}
.user-picture {float: right !important;}
.user-picture > a {padding-right: 0 !important;}
.user-picture img {border: 1px solid #ddd;}

/*************************************************
CUSTOM MENU
*************************************************/
div#custommenu a {
	text-decoration: none;
}
div#custommenu ul li a {
	font-weight: bold;
	color: [[setting:linkcolor]];
	margin: 0;
	border-radius: 0;
}
div#custommenu ul li a:hover {
	background: #ddd;
}
div#custommenu ul ul {
	margin: 0;
}
div#custommenu ul ul li, 
div#custommenu ul li ul li {
    float:none !important;
    margin:0;
}
div#custommenu ul ul li a {
	padding:5px 17px;
	background: #efefef;
}
.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
	background: #efefef ;
}

@media screen and (max-width:979px) {
	div#custommenu ul li a {
		border-top: 1px solid #ddd;
	}
	div#custommenu ul ul li a {
		padding: 5px 30px !important;
	}
	.navbar .nav.pull-right {
		margin-right: 0 !important;
		border-top: 1px solid #ddd;
	}
}
