/* Responsive */

.row-fluid .span8 {width: 71%;} /*Block - Main*/
.row-fluid .span4 {width: 29%;} /*Block - Pre*/
.row-fluid .span9 {width: 78%;} /*Block Pre + Main*/
.row-fluid .span3 {margin-left: 0; width:22%;} /*Block - Post*/


.empty-region-side-post.used-region-side-pre #region-main.span8, 
.jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
	width: 77.5%;
}
.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4, 
.jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
	width: 22.5%;
}


/* Large desktop */
@media (min-width: 1200px) { 

}

@media (max-width: 979px) {
	[class*="span"], .row-fluid [class*="span"] {width: 100% !important;}
	body {padding: 0;}
	select {width: 100%;}
	.user-picture {margin-top: -40px; padding-right: 20px !important;}
	.tiles {margin-left: 0;}
	#block-region-side-pre, #block-region-side-post {padding: 0;}
	.loginfailures {margin-right: 52px;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */

@media (max-width: 767px) { 
	/**, a, h1, h2, h3, h4, td, body, p, div {font-size: 99% !important;}*/
	li.tile {max-width: 50%;}
	.tile a {height: 140px;}
	.breadcrumb-nav .breadcrumb {
		float: none;
		padding: 5px;
	}
	.breadcrumb-nav, 
	.breadcrumb-button .singlebutton, 
	.breadcrumb-button,
	#page-navbar .singlebutton	{
		float: none; 
		text-align: center;
	}
	.logo, .bannertext {
		text-align: center;
		padding: 10px;
	}
	.bannertext {float: none; margin: 0; display: block; text-align: center;}
	#page-footer .text-left, #page-footer .copyright, #page-footer .helplink {
		float: none;
		text-align: center;
	}
	.tiles {
		margin-left: 0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.tileoutlinearea {margin: 0 !important; margin-bottom: 10px !important;}
	li.tile {max-width: 100%;}
	.tile a {width: 100% !important; margin: 0 !important;}
	
}


@media (min-width: 980px) {
	#dock {top: 40px;}
	#dock .controls {bottom: 50px;}
}
