/* SCORM player customisation */


#page-mod-scorm-view .boxwidthwide {
	width: auto;
}


/****************************************
SCORM - Launch as a Popup
****************************************/
/*
body.pagelayout-popup {
        padding: 0;
        overflow: hidden;
}
.pagelayout-popup header {
        display: none;
}
.pagelayout-popup #scormpage {
        background: none;
}
.pagelayout-popup #scormpage div.yui3-u-1,
.pagelayout-popup #region-main,
.pagelayout-popup #scormpage #scorm_object {
        width: 100% !important;
}
.pagelayout-popup #region-main h2 {
        display: none;
}
.pagelayout-popup #page-content,
.pagelayout-popup #region-content {
        padding: 0 !important;
}
*/
#page-mod-scorm-player .yui-layout-doc {
	background: #fff !important;
}

/****************************************
SCORM - Launch in the current window
****************************************/

#page-mod-scorm-player .breadcrumb-button {
	margin: 8px 5px 0 0;
}
#page-mod-scorm-player .breadcrumb-button a {
	color: #fff;
	background: [[setting:buttoncolor]];
	padding: 5px 10px;
	border-radius: 4px;
	text-decoration: none;
}

#page-mod-scorm-view #intro.generalbox {
        padding: 20px;
        background: #FAFAFA;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        max-width: 100%;
        margin-bottom: 10px;
}

#page-mod-scorm-report .quizattemptcounts {
        margin-left: 0;
}

#page-mod-scorm-player #scormpage {
        background: #eee;
        display: table;
}
/*
#scorm_toc {
        float: left;
}
#scorm_toc #scorm_toc_title,
#scorm_toc #scorm_tree {
        padding: 10px 15px;
        border: none !important;
}

#scorm_toc_toggle {
        float: left;
        padding: 5px;
}
#scorm_toc_toggle > button {
        padding: 5px 13px 10px 12px;
}
.yui3-resize-handles-wrapper {
        background: none;
}

#scorm_content {
        float: left;
}

#page-mod-scorm-player #scormpage #scorm_navpanel {
        clear: both;
}
#page-mod-scorm-player #scormpage div.yui3-u-1-24 {
        width: auto;
}
*/
#page-mod-scorm-player #scormpage #scorm_object {
        width: 100%;
        height: 100%;
}
.yui3-button[disabled], .yui3-button-disabled, .yui3-button-disabled:hover, .yui3-button-disabled:active {
        opacity: 0.3;
}


#page-mod-scorm-view .jumpto_menu {
	margin-right: 5px !important;
}
.jumpto_menu {
	float: right;
	position: absolute;
	right: 0;
	opacity: 1;
	margin: 3px 100px 0 0;
}
.jumpto_menu button {
	margin: 0;
	padding: 0 10px 4px 10px;
}
.jumpto_menu select {
	margin: 0;
}



