.tiles {
	margin-left: -10px;
}

#tileoutlinearea h3.sectionname {
	color: #a46a9c;
}
.tileoutlinepage {
	margin: 10px;
	padding: 0 0 15px;
}
#tileoutlinetiles {
	max-width: 100%;
}
.tileoutlinearea {
	border: none !important;
	border-radius: 0 !important;
	/*background: transparent url([[pix:theme|tilebg]]) left no-repeat;*/ 
	background: url([[pix:theme|course_bg]]) bottom right no-repeat !important;
	background-size: 100% !important;
	color: #fff;
	padding: 10px;
	margin: 0 5px 9px 10px!important;
	
}
.tileoutlinearea .headingblock {
	display: none !important;
}

.tile a {
	padding: 0 !important;
	width: 95% !important;
	height: 160px;
	position:relative;
	background-image: url([[pix:theme|tilebg]]); 
	background-color: #000 !important;
	background-position: top; background-repeat: no-repeat; 
	-webkit-border-radius: 0px !important; 
	-moz-border-radius: 0px !important; 
	border-radius: 0px !important; 
	color: #fff !important; 
	border: 0 !important;
	background-size: 100%;
	margin: 5px 10px !important;
}
.tile a:hover .tiletitle {
	background: #050708 url([[pix:theme|course_arrowon]]) bottom right no-repeat;
	text-decoration: underline;
}	
.tilecontentarea {
	background: none !important;
}
.tilecontentarea.section {
	background: #EFEFEF !important;
	border-radius: 0;
}
.tiletopic {
	display: none !important;
}
.tiletitle {
	margin-top: 100px;
	background: #050708 url([[pix:theme|course_arrow]]) bottom right no-repeat;
	position: absolute;
	bottom: 0;
	width: 83%;
	text-align: left !important;
	height: auto !important; 
	min-height: 5px;
	padding: 8px 12% 8px 5%;
}
li.tile {
	max-width: 33.3%;
	width: 100% !important;
}

.tileoutlinecontent {
	background-image: url([[pix:theme|coursetile_bg_blacktransp]]) !important; 
	margin: 10px !important; 
	border: 0; 
	padding: 10px 25px !important;
}
.tileoutlinecontent a {
	color: #fff;
}

#page-course-view-tiles #region-main {
    padding: 5px 0 15px 0;
	margin-bottom: 15px;
	display: table;
}
.path-course-view .completionprogress {float: none; margin-bottom: 5px;}

/* Topics view */
.tiletopicnav {
	padding-left: 10px;
}
.tiletopicnav ul li {
	line-height: 3em; 
	margin-top: 5px;
}
.tiletopicnav ul li a {
	background-color: #fff !important; 
	color: [[setting:linkcolor]] !important; 
	-moz-border-radius: 0 !important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
	border: 1px solid [[setting:buttoncolor]];
}
.tiletopicnav ul li a.current, 
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
	background-color: [[setting:buttoncolor]] !important; 
	color: #fff !important;
}


