/**
 * Rounded corner CSS + images
 * This CSS uses background images and relative positioning to display rounded
 * corners on all browsers.
 */

.rounded-corner {
    display: block;
    width: 11px;
    height: 11px;
    font-size: 1pt;
    margin: 0px;
    padding: 0px;
}

/*#page-header .rounded-corner {
    background-image: url([[pix:theme|corners_header]]);
    clear: both;
}

#page-header .rounded-corner.top-left {
    background-position: 0px 0px;
    float: left;
}

#page-header .rounded-corner.top-right {
    background-position: 11px 0px;
    float: right;
} */

/** Fix IE8 + Opera positioning issue **/
/*.ie8 #page-header .rounded-corner.top-right,
.ie9 #page-header .rounded-corner.top-right,
.opera #page-header .rounded-corner.top-right {
    position: relative;
    top: -11px;
}
*/

#page-footer {
    position: relative;
}

/*#page-footer .rounded-corner {
    position: absolute;
    background-image: url([[pix:theme|corners_header]]);
    clear: both;
}

#page-footer .rounded-corner.bottom-left {
    background-position: 0 11px;
    bottom: 0;
    left: 0;
    float: left;
}

#page-footer .rounded-corner.bottom-right {
    background-position: 11px 11px;
    bottom: 0;
    right: 0;
    float: right;
}
*/

.block {
    border-width: 0px;
    background-color: white;
}

.block .corner-box {
    border: 1px solid #d4d4d4;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.block .corner-box .rounded-corner {
    background-image: url([[pix:theme|corners_block]]);
    position: relative;
}

.block_settings .corner-box .rounded-corner {
    background-image: url([[pix:theme|corners_blocksettings]]);
    position: relative;
}

.block_news_items .corner-box .rounded-corner {
    background-image: url([[pix:theme|corners_blocknews]]);
    position: relative;
}

.block_calendar_month .corner-box .rounded-corner {
    background-image: url([[pix:theme|corners_blockcalendar]]);
    position: relative;
}

.block_calendar_upcoming .corner-box .rounded-corner {
    background-image: url([[pix:theme|corners_blockevents]]);
    position: relative;
}


.block .corner-box .rounded-corner.top-left {
    background-position: 0px 0px;
    float: left;
    top: -1px;
    left: -1px;
}

.block .corner-box .rounded-corner.top-right {
    background-position: 11px 0px;
    float: right;
    top: -1px;
    right: -1px;
}

.block .corner-box .rounded-corner.bottom-left {
    background-position: 0px 11px;
    float: left;
    bottom: 0px;
    left: -1px;
}

.block .corner-box .rounded-corner.bottom-right {
    background-position: 11px 11px;
    float: right;
    bottom: 0px;
    right: -1px;
}

/**
 * Pure CSS rounded corners
 * This CSS overrides the above to remove images and use pure CSS to display the
 * rounded corners. Less requests, betterg page load time, better looking rounded
 * corners.... if only IE could handle it.
 *
 * Browsers:
 * Firefox:  body.gecko  -moz
 * Chrome:   body.safari -webkit
 * Safari:   body.safari -webkit
 * Opera:    body.opera  no prefix
 */

.opera .rounded-corner.top-left,
.opera .rounded-corner.top-right,
.opera .rounded-corner.bottom-left,
.opera .rounded-corner.bottom-right,
.safari .rounded-corner.top-left,
.safari .rounded-corner.top-right,
.safari .rounded-corner.bottom-left,
.safari .rounded-corner.bottom-right,
.gecko .rounded-corner.top-left,
.gecko .rounded-corner.top-right,
.gecko .rounded-corner.bottom-left,
.gecko .rounded-corner.bottom-right {
    background-image: none;
    display: none;
}

.opera .block .corner-box,
.safari .block .corner-box,
.gecko .block .corner-box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.opera .block .corner-box .header,
.safari .block .corner-box .header,
.gecko .block .corner-box .header {
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*
.opera .block .corner-box .header,
.opera #page-header,
.safari .block .corner-box .header,
.safari #page-header,
.gecko .block .corner-box .header,
.gecko #page-header {
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.opera #page-footer,
.safari #page-footer,
.gecko #page-footer {
    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
*/


.opera.forumpost div.row .left,
.safari .forumpost div.row .left,
.gecko .forumpost div.row .left {
    -moz-border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.opera .forumpost,
.opera .forumpost div.row.side,
.safari .forumpost,
.safari .forumpost div.row.side,
.gecko .forumpost,
.gecko .forumpost div.row.side {
    /*-moz-border-bottom-right-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;*/
}

.opera .forumpost .options,
.safari .forumpost .options,
.gecko .forumpost .options {
     /*-moz-border-bottom-right-radius: 20px;
     -webkit-border-bottom-right-radius: 20px;
     border-bottom-right-radius: 20px;*/

}

/** Fix for IE 6 float background bug */
.ie .column-content {
    position: relative;
}