/* Docking Module
-----------------*/

body.has_dock {
    margin:0 0 0 35px;
}

#dock {
    width:35px;
    position:fixed;
    top:0px;
    right:0;
    height:100%;
    z-index:11000;
    background-color: #f1f1f2;
    border-right: 0 none;
}

#dock.nothingdocked {
    visibility: hidden;
    display:none;
}
#dock .controls {
    bottom: auto;
    background-color: #C8C9C7;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#dock .dockeditem.firstdockitem {
    margin-top: 10em;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#dock .dockeditem {
    background-color: #f1f1f2;
    padding: 2px;
    padding-right: 0px;
    margin-left: 5px;
}
#dock .dockedtitle {
    padding-bottom: 5px;
    cursor:pointer;
    background-color: #bcbdbe;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    border-color: #939598;
    border-style: solid;
    border-width: 1px 0 1px 1px;
}
#dock .dockedtitle h2 {
    margin: 0;
    padding: 10px 3px;
    color: #fff;
    font-family: sans-serif;
}
.dockedtitle.activeitem h2 {
    color: #fff !important;
}
#dock .dockedtitle.activeitem {
    background-color: #58595B;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
#dock .controls {text-align: right; 
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 0;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 0;
background-color: #bcbdbe;
border: 1px solid #939598;
border-right: 0;
width: 80%;
right: 0;

}
#dock .controls img {
    cursor:pointer;
    padding-top: 4px;
    padding-right: 5px;
}
/*
Docked Item Panel
-----------------------*/
#dockeditempanel {
    width: 180px;
    position: relative;
    z-index: 12000;
    left: 100%;
}
#dockeditempanel.dockitempanel_hidden {
    display:none;
}
#dockeditempanel .dockeditempanel_content {
    background-color: #eeeeee;
    margin: 0;
    position: relative;
    min-height: 100px;
    border-color: #939598;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;

}
#dockeditempanel .dockeditempanel_hd {
    border-color: #939598;
    background-color: #58595B;
    padding: 2px;
}
#dockeditempanel .dockeditempanel_bd .block_docked {
    margin:10px;
}
#dockeditempanel .block_calendar_month.block_docked {
    text-align: center;
}
#dockeditempanel .dockeditempanel_hd {
    text-align: right;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
#dockeditempanel .dockeditempanel_hd h2 {
    display:inline;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    float: left;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
}

#dockeditempanel .dockeditempanel_hd .commands {
    display:inline;
    margin-right: -10px;
}
#dockeditempanel .dockeditempanel_hd .commands img {
    margin-right: 0;
    vertical-align: middle;
}
#dockeditempanel .dockeditempanel_bd {
    overflow:auto;
    width:auto; /* adds scroll to dock panel */
}
