/** Core **/

a:link {text-decoration: none; color: #ec2227;}
a:visited {text-decoration: none; color: #ec2227;}
a:hover {text-decoration: underline;}

img.icon,
img.iconhelp {vertical-align: middle;}

html, body {background-color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #808285;}
#page {margin-top: 0 !important; }
#page-content {background-color: #FFF; min-width: 0;}
#page-content .region-content {background: white url([[pix:theme|blocksleftbg]]) left 1px no-repeat;}
#page-content #region-pre .region-content {background: white url([[pix:theme|blocksleftbg]]) left 1px no-repeat;}
#page-content #region-post {background: white url([[pix:theme|blocksrightbg]]) right 1px no-repeat;}
#page-content #region-post .region-content {background: transparent;}

/** Header **/

#page-header {background: #fff; /* url([[pix:theme|headerbg]]) top repeat-x;*/ color: #FFF; border-bottom: 5px solid #697F55; margin: 0; padding: 0; width: 100%;}
#page-site-index #page-header {border-bottom: 0 !important;}

h1.headermain {float: left; font-size: 2.3em; margin: 15px; line-height: 1;}
.headermenu {background: transparent; /* url([[pix:theme|lexisnexis]]) bottom right no-repeat; */ margin: 0; text-align: right; padding: 0; font-size: 11px; position: relative; right: 0; height: 70px; min-width: auto;}

#page-header .headermain span {color: #d4d4d4;}
#lexisnexislogo {margin-top: 10px; float: left; height: 50px;}
.logininfo {width: auto; float: left; padding: 20px 10px; line-height: 21px; color: #474747;}
.logininfo a:link, .logininfo a:visited {font-weight: bold; color: #474747;}
.logininfo:hover {color: black;}
#lexisphoto {float: right; padding: 4px; border: 1px solid #d4d4d4;}

/** Navbar **/

.hasnavbar #page-header {border-bottom-color: #fff; border-bottom-width: 0;}

.navbar {background: #fff url([[pix:theme|breadcrumbbg]]) top repeat-x; width: 100%; margin: 0; padding: 0; border-top: 20px solid #ec2227;}
.navbar {color: #b2b2b2;}
.navbar a:link,
#page-header .navbar a:visited {color: #b2b2b2;}
#page-header .navbar .breadcrumb,
#page-header .navbar .navbutton {margin: 5px 1em;}

/** Footer **/

#page-footer {background: #fff url([[pix:theme|breadcrumbbg]]) top repeat-x; color: #d4d4d4; border-top: 1px solid #d4d4d4; padding: 20px 0; margin-top: 30px;}
#footerwrap {width: 94%; margin: 0 auto; }
#page-footer .footer { padding: 0; text-align: left; color: #b2b2b2; line-height: 46px;}
#page-footer .social {margin: 15px 0 0; float: right;}
#page-footer .footer img {float: left;}


/** General **/
.generalbox {border: 1px solid #d4d4d4;}
.generaltable td {border-width: 0;}
.sitetopic {border-width: 0;}
.headingblock {margin-bottom: 10px; border-bottom: 1px solid #d4d4d4; background-color: #E3E3E3; padding: 4px 5px;}

.coursebox {width: 100%; margin: 10px 0; border-bottom: 1px solid #d4d4d4; overflow: hidden; padding-bottom: 10px;}
.coursebox .info {width: 35%; float: left;}
.coursebox .summary {width: 60%; float: right;}

.course-content ul.section {margin: 0;}

.course-content .headingblock.outline {margin-top: 0;}

.course-content .section.main {border:1px solid #d4d4d4; margin-bottom: 10px;}

.course-content .section.main .left.side {float:left;width:20px;padding:5px;}

.course-content .section.main .right.side {float: right; width: 20px; padding: 5px;}

.course-content .section.main .content {padding: 5px 5px 10px; background-color: #FFF;}

.course-content .section.main .content .section_add_menus {text-align: right;}

#page-report-outline-user .section {border: 1px solid #d4d4d4; margin: 0 5% 1.5em 5%;}

#page-report-outline-user .section h2,
#page-report-outline-user .section .content {margin: 5px 1em;}

#page-report-outline-user .section table td {border: 0;}

.generaltable {border: 1px solid #d4d4d4;}

.generaltable .cell {background-color: #FFF; border:1px solid #d4d4d4; border-collapse: collapse;}

.generaltable .header {background-color: #EEE; border: 1px solid #d4d4d4; font-weight: bold;}



/** Blocks **/

.block .header .block_action {margin: -2px 0 0 0;}

.block {border: 1px solid #d4d4d4; background-color: #fff; margin-bottom: 10px; overflow: hidden;}
.block h1,
.block h2,
.block h3,
.block h4 {margin: 0;}

.block .header h2 {color: white; font-weight: normal; font-size: 12px;}
.block .content {margin: 10px 6px 3px 6px; color: #808285;}

/*.corner-box .header {margin: 0;}*/

.block .header {margin: 0; padding: 4px 5px; background: #77b843;}
.block .content a:link, .block .content a:visited {color: #77b843;}  

.block_navigation .block_tree li.depth_2 ul {padding-left: 6px;}

.block_rss_client .header {padding: 4px 5px; background: #77b843 url([[pix:theme|rss]]) 83% 6px no-repeat;}

.block_news_items .header {padding: 4px 5px; background: #119dd9 url([[pix:theme|latestnews]]) 83% 6px no-repeat;}
.block_news_items .content li {padding: 5px 5px 5px 33px; border-bottom: 1px dashed #d4d4d4; background: #fff url([[pix:theme|newsarrowwhite]]) 5px 5px no-repeat;}
.block_news_items .content li:nth-child(even) {background: #f1f1f2 url([[pix:theme|newsarrow]]) 5px 5px no-repeat;}
.block_news_items .content {padding: 0; margin: 0;}
.block_news_items .content .newlink, .block_news_items .content .footer {padding: 10px 16px;}
.block_news_items .content a:link, .block_news_items .content a:visited {color: #119dd9;}  
.block_news_items .content .head {font-size: 10px;}
.block_news_items .content .name {display: none;}
.block_news_items .content .info {}
.block_news_items .content .info a {font-weight: normal;}

.block_settings .header {padding: 4px 5px; background: #ec2227 url([[pix:theme|settings]]) 83% 6px no-repeat;}
.block_settings .header h2 {color: #f1999b;}
.block_settings .content a:link, .block_settings .content a:visited {color: #ec2227;}  
.block_settings input[type="submit"] {float: none !important; margin-left: 30px;}

.block_calendar_upcoming .header {margin: 0; padding: 4px 5px; background: #902d8c;}
.block_calendar_upcoming .content a:link, .block_calendar_upcoming .content a:visited {color: #902d8c;}  

.block_calendar_month .header {margin: 0; padding: 4px 5px; background: #58595b;}
.block_calendar_month .content {margin: 0 0 3px; padding: 0;}
.block_calendar_month .content a:link, .block_calendar_month .content a:visited {color: #58595b;}  
.block_calendar_month .calendar-controls {padding: 10px; background: #d1d3d4;}
.block .minicalendar {width: 90%;}


/** Admin **/
.box.adminwarning {text-align: center; border: 1px solid #d4d4d4; background-color: #E3E3E3; margin-bottom: 1em; padding: 10px 10%;}
.box.copyright {text-align: center; font-size: 90%; padding: 10px 10%;}

#adminsettings fieldset {border: 1px solid #d4d4d4; background-color: #E3E3E3;}

#adminsettings fieldset .generalbox {margin: 1em 0.5em; border-color: #d4d4d4;}

#adminsettings .form-buttons {margin-left: 13em;}

.form-item {width: 100%; margin: 1em 1em 2em 1em;}

.form-item .form-label {width: 12.5em; text-align: right; float: left; margin-right: 0.5em;}

.form-item .form-label .form-shortname {display: block; color: #666; font-size: 75%;}

.form-item .form-setting {margin-left: 13em;}

.form-item .form-setting .defaultsnext {display:inline;}

.form-item .form-setting .form-defaultinfo {display: inline; margin-left: 0.5em; font-size: 90%; color: #666;}

.form-item .form-description {margin: 0.5em 1em 0.5em 13em;}

.form-item .form-textarea textarea {width: 495px;}

#authmenu .informationbox {width: 80%; margin: 0 auto 10px; border: 1px solid #d4d4d4; padding: 10px;}
#authmenu table td {border-width: 0;}

#categoryquestions {margin-left: auto; margin-right: auto; width: 100%;}

#categoryquestions th,
.user th,
.user th.header,
.group th.header,
.admin table tr th,
.admin table tr th.header {background-color: #697F55; color: #FFF; border: 2px solid #697F55; border-bottom-color: #111;}

.user th a:link,
#categoryquestions th a:link,
.group  th a:link,
.admin table tr th a:link {color: #FFF; text-decoration: none;}

.user th a:visited,
#categoryquestions th a:visited,
.group th a:visited,
.admin table tr th a:visited {color: #FFF; text-decoration: underline;}

.user tr td.cell,
#categoryquestions tr td.cell,
.group tr td.cell,
.admin table tr td.cell {border: 1px solid #d4d4d4; border-width: 0 1px;}

.user .r1 .cell,
#categoryquestions .r1 .cell,
.group .r1 .cell,
.admin table .r1 .cell {background-color: #EEE;}

.singlebutton,
.buttons {margin: 10px;}

.buttons form {display: inline;}

.buttons div {display: inline;}

.buttons .singlebutton {display: inline; padding: 5px; margin: 0;}

.admin .generalbox {background-color: #EEE; border-color: #d4d4d4;}

#admin-mnet-index table td,
#files-index .column-content table td {border-width: 0;}

/** Mforms **/
.mform fieldset {border-color: #d4d4d4;}

/** Tags **/
.tag-management-form {text-align:center;}

#tag-management-list {margin-top:1em;}

/** User **/
.userinfobox td {border-width: 0; vertical-align: top;}

.userinfobox .side {width: 120px; text-align: center;}

.userinfobox .list .label {font-weight:bold;text-align:right;}

/** Forum **/

.forumheaderlist,
.forumpost {margin-top: 15px; border: 1px solid #d4d4d4; border-collapse: separate;}

.forumpost,
.forumpost .left.picture {background-color: #EEE;}
.forumpost .row .left {float: left; overflow: hidden; width: 43px;}
.forumpost .row.header {background-color: transparent; }
.forumpost .topic.firstpost.starter {background-color: #d4d4d4; padding: 5px;}
.forumpost .topic .subject,
.forumpost .topic .author {padding-left: 10px;}
.forumpost .topic .subject, .forump {font-weight: bold;}

.forumpost .content,
.forumpost .options {background-color: white; padding-top: 10px;}

.forumpost .content .shortenedpost a,
.forumpost .content p {margin: 0 10px; padding: 0;}
.forumpost .options .commands,
.forumpost .content .attachments,
.forumpost .options .footer,
.forumpost .options .link {float: right;}
.forumpost .options .commands,
.forumpost .options .link {padding-right: 10px;}

.forumpost .content .shortenedpost a,
.forumpost .content .shortenedpost span.post-word-count,
.forumpost .commands,
.forumpost .topic .author,
.forumpost .options .link {font-size: 85%; line-height: 1.6;}
.forumpost .row .left {clear: left;}

.forumpost .posting.shortenedpost {margin-left: 10px;}

.path-mod-forum .forumheaderlist td {border-color: #d4d4d4;}

#page-mod-forum-discuss #page-header { /* fixes broken header in forum discuss */
    margin-top: 10px;
}
#site-news-forum h2 {margin: 0;}

/** Calendar **/
.block.block_calendar_month td,
.block.block_calendar_month th {border-width: 0; font-size: 10px; padding: 1px; width: 14%; line-height: 18px;}

#calendar abbr,
.block.block_calendar_month abbr {border-bottom-width: 0;}

#calendar .weekend,
.block.block_calendar_month .weekend {color: #A00;}
#calendar .maincalendar .calendarmonth td.today,
.block.block_calendar_month .today {border: 1px solid #d4d4d4;}

#calendar .eventnone a,
.block.block_calendar_month .eventnone a {color:#444;}

#calendar {width: 98%; margin: 0 1%; border-spacing: 5px; border-collapse: separate;}

#calendar td,
#calendar th {border-width: 0; font-size: 10px; padding: 1px; width: 14%; line-height: 18px; vertical-align: top;}

#calendar .maincalendar {width: auto; border: 1px solid #d4d4d4;}

#calendar .maincalendar .heightcontainer {height: 100%; position: relative; margin: 1em;}

#calendar .maincalendar .header {padding: 5px; font-weight: bold;}

#calendar .maincalendar .header .buttons {float: right;}

#calendar .maincalendar table {width: 100%;}

#calendar .maincalendar .calendar-controls {width: 100%; overflow: hidden; font-size: 1.1em;}

#calendar .maincalendar .calendar-controls .previous {display: block; float: left; width: 20%;}

#calendar .maincalendar .calendar-controls .current {display: block; float: left; width: 60%; text-align: center; margin-top: 0;}

#calendar .maincalendar .calendar-controls .next {display: block; float: left; width: 20%; text-align: right;}

#calendar .sidecalendar {width: 200px;}

#calendar .sidecalendar h2,
#calendar .sidecalendar h3 {margin: 5px; font-size: 95%;}

#calendar .sidecalendar .block {border: 1px solid #d4d4d4; margin-bottom: 10px; text-align: center;}

#calendar .sidecalendar .block table {margin: 0 auto 5px;}

#calendar .sidecalendar .block .filters table {width: 95%; margin: 0 auto 1em;}

#calendar .sidecalendar .block .minicalendarblock {border-top: 1px solid #d4d4d4;}

#calendar .filters table {padding: 2px; background-color: #EEE; border: 1px solid #d4d4d4; border-spacing: 2px; border-collapse: separate;}

#calendar .filters table td {font-size: 100%; width: auto;}

#calendar .filters .eventskey {border: 1px solid #d4d4d4; overflow: hidden;}

#calendar .calendar_event_global {background-color: #D6F8CD;}

#calendar .calendar_event_course {background-color: #FFD3BD;}

#calendar .calendar_event_group {background-color: #FEE7AE;}

#calendar .calendar_event_user {background-color: #DCE7EC;}

#calendar .maincalendar .calendarmonth {border-collapse: separate;}

#calendar .maincalendar .calendarmonth th {font-size: 0.9em; border-bottom: 2px solid #444;}

#calendar .maincalendar .calendarmonth td {border: 1px solid #d4d4d4; border-bottom-color: #CCC; border-right-color: #CCC; height: 6em;}

#calendar .maincalendar .calendarmonth td div {margin:4px;font-size:0.9em;}

#calendar .maincalendar .calendarmonth td .day {font-weight:bold;}

#calendar .maincalendar .calendarmonth tr td:first-child {border-left-color: #CCC;}

#calendar .maincalendar .event {border-spacing: 0; border: 1px solid #d4d4d4; background-color: #EEE;}

#calendar .maincalendar .event .picture {width: 32px; text-align: center;}

#calendar .maincalendar .event .topic {width: auto; padding: 5px;}

#calendar .maincalendar .event .side {width: 32px;}

#calendar .maincalendar .event .description {width: auto; border-top: 1px solid #d4d4d4; border-left:1px solid #d4d4d4; padding: 5px;}

#calendar .maincalendar .bottom {text-align: center;}

#calendar .calendarmonth ul {margin: 0; padding: 0;}

#calendar .calendarmonth ul li {list-style: none; margin: 0; padding: 2px;}

/** User **/

.user .rolesform,
.user .searchform,
.user #showall,
.user #participantsform {text-align:center;}

.user #participantsform table {margin-top:1em;}

.user #participantsform td {text-align:left;}

.user table.controls {margin: 5px auto; border: 1px solid #d4d4d4; background-color: #EEE; border-collapse: collapse;}
.user table.controls td {border-width:0px;}

/** Overide for RTL layout **/

.dir-rtl #page-header .navbar .breadcrumb {float:right;}
.dir-rtl #page-header .navbar .navbutton {float:left;}

/** Custom menu **/

#custommenu {margin-bottom: 0; float: right; background: #EC2227; width: 100%;}
#custommenu ul {float: right;}

#custommenu li {border-right: 1px solid white !important;}

#custommenu .yui3-menu-horizontal .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li li:hover > a,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menuitem,
#custommenu .yui3-menuitem .yui3-menuitem-content {border-width: 0;}

#custommenu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menuitem-content {color: #FFF; padding: 0 10px;}

#custommenu .custom_menu_submenu .yui3-menu-content{background-color: #3A4D28;}

#custommenu .yui3-menuitem-active .yui3-menuitem-content {background-image: none;}

#custommenu .custom_menu_submenu .yui3-menu-label,
#custommenu .custom_menu_submenu .yui3-menuitem-content {line-height: 21px; padding: 0 20px;}

#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal.javascript-disabled li a:hover {background-color: #f6676b;}

.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label, .yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {margin: 0;}

/* Add Block
-------------------------*/
.block .content .singleselect form#add_block .select.menubui_addblock { width: 160px;}


/* input types */

input[type="submit"] {background: #1b75c0 url([[pix:theme|input_submit]]) 0 top repeat-x; color: #e8ffff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;border: 1px solid #2e6279; padding: 3px 10px 4px; margin: 4px 2px;}
input[type="submit"]:hover {background-position: 0 -30px;}
input[type="submit"]:active {background-position: 0 -60px;}
input[value="Search"] {background: #1b75c0 url([[pix:theme|input_search]]) right top no-repeat; padding: 0 2em;}
input[value="Search"]:hover {background-position: right -25px;}
input[value="Search"]:active {background-position: right -50px;}


/* LexisNexis login customisation */

/** Login **/
/*
.loginbox {margin-top: 15px; margin-bottom: 15px;}

.loginbox .loginform {margin-top: 15px;}

.loginbox .loginform .form-label {width: 44%; float: left; text-align: right;}

.loginbox .loginform .form-input {width: 55%; float: right; text-align: left;}

.loginbox .loginform .form-input input {width: 6em;}

.loginbox.twocolumns {border: 1px solid #d4d4d4;}

.loginbox.twocolumns .loginpanel {float: left; width: 49%; text-align: center;}

.loginbox.twocolumns .signuppanel {float: left; width: 50%; }

.loginbox.twocolumns .signuppanel h2 {text-align: center;}

.loginbox.twocolumns .signuppanel div {margin: 1em;}

.loginbox.twocolumns .signuppanel div li {font-size: 90%;}

.loginbox .loginsub {margin-left: 10%; margin-right: 10%; padding: 10px; margin-bottom: 5px;}

.loginbox .guestsub {margin-left: 10%; margin-right: 10%; padding: 10px; margin-bottom: 5px; border-top: 1px solid #d4d4d4;}

.dir-rtl .loginbox .loginform .form-input {width:50%}
*/
.loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps {
    margin: auto;
}
.loginbox.twocolumns {
    display: table;
    margin: 0;
}
.loginbox .potentialidps .potentialidplist {text-align: center;}

#page-login-index #region-main {padding-top: 0;}
#page-login-index #page-content .region-content {background: transparent; border: 1px solid #d4d4d4; padding: 0; margin: 20px;}
#page-login-index .breadcrumb {display: none;}

#lexisloginwrapper {width: 845px; margin: 0 auto;}
#leftlogin h2.headingblock {font-size: 20px; font-weight: normal; color: #231f20; border: 0; border-width: 0; margin: 0; padding: 8px 10px; padding-left: 0; background: white;}
#leftlogin {position: relative; width: 330px; float: left; margin-bottom: 50px;}
#rightlogin {position: relative; width: 466px; float: right;}
#lexislogin {width: 263px; height: auto; position: relative; left: 0; top: 0; margin: 0px auto;}
#studentlogin {background: white; padding: 10px 32px 17px; border: 1px solid #d4d4d4; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}

.slides_container {overflow: hidden; border: 1px solid #d4d4d4; height: 298px; -webkit-border-radius: 10px !important; -moz-border-radius: 10px !important; border-radius: 10px !important;}
.slides_container .slide {padding: 0; line-height: 0em;}
.slides_container .slide img {}


/*ul.pagination {list-style: none; position: absolute; bottom: -5px; right: 0; margin: 0; margin-right: 8px;}*/
ul.pagination {list-style: none; position: relative;  float: right; margin: 10px 0 0 0;}
ul.pagination li {display: inline;}
ul.pagination li a {font-size: 14px; line-height: 1em; padding: 3px 10px !important; color: #d4d4d4 !important;}

@-moz-document url-prefix() {ul.pagination li a {font-size: 13px;}}


ul.pagination li a {margin: 0 2px; padding: 3px 7px !important; width: 10px; height: 16px; color: #d4d4d4 !important; border: 1px solid #d4d4d4; background-color: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
ul.pagination li a:hover, ul.pagination li.current a {border-bottom-color: #a6a8ab !important; border-right-color: #a6a8ab !important; color: #a6a8ab !important; text-decoration: none !important;}
.boxwrapper {padding-bottom: 21px;}

#lexisloginwrapper #leftlogin {background: white url([[pix:theme|blocksleftbg]]) left 1px no-repeat; padding: 10px 0 0 10px;}
#lexisloginwrapper #rightlogin {background: white url([[pix:theme|blocksrightbg]]) right 1px no-repeat; padding: 10px 10px 0 0;}


#lexisloginwrapper input[type="text"],#lexisloginwrapper input[type="password"] {width: 245px; height: 40px; positon: relative; margin-top: 7px; font-size: 13px; color: #c8c8c8; outline: none; border: 1px solid #d4d4d4; padding-left: 12px;
	-webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; height: 30px\9; padding-top: 10px\9;}
#lexisloginwrapper input[type="text"] {background: white; margin-bottom: 5px; margin-top: 5px;}
#lexisloginwrapper input[type="password"] {background: white; margin-bottom: 5px; margin-top: 5px;}
#lexisloginwrapper input[type="text"]:focus,#lexisloginwrapper input[type="password"]:focus {-webkit-box-shadow: inset 0px 1px 0px #bcb9b9; -moz-box-shadow: inset 0px 1px 0px #bcb9b9; box-shadow: inset 0px 1px 0px #bcb9b9;}

#lexisloginwrapper input[type="submit"] {width: 118px; height: 41px; margin: 7px 0 4px 0; color: #fff; font-size: 14px; font-weight: normal;
	outline: none; border: 0; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: #ec2227;
	cursor: pointer; -webkit-box-shadow: 0px 2px 2px 0px #d3d3d3; -moz-box-shadow: 0px 2px 2px 0px #d3d3d3; box-shadow: 0px 2px 2px 0px #d3d3d3; }
#lexisloginwrapper input[type="submit"]:hover, #lexisloginwrapper input[type="submit"]:active {-webkit-box-shadow: 0px 2px 0px #fdfdfd; -moz-box-shadow: 0px 2px 0px #fdfdfd; box-shadow: 0px 2px 0px #fdfdfd;}
#lexisloginwrapper label {color: #231f20; margin-top: 5px; margin-bottom: 10px;}
#lexisloginwrapper .rightlogin {text-align: right;}
#lexisloginwrapper .right {text-align: right; height: 50px;}
#lexisloginwrapper input#forgotbtn, #lexisloginwrapper input#registerbtn {float: right;}
#lexisloginwrapper .forgot, #lexisloginwrapper .register, #page-site-index input[type="submit"] {margin-top: 10px; margin-bottom: 10px; width: 40%; float: left; clear: both;}
#lexisloginwrapper .forgot a:link, #lexisloginwrapper .forgot a:visited {color: #939598;}
#lexisloginwrapper .desc {margin-top: 0px; margin-bottom: 10px;}


#lexisloginwrapper #forgotbtn, #lexisloginwrapper #registerbtn, #page-site-index input[type="submit"] {float: none; text-align: center; width: auto; height: 17px; margin-top: 7px; color: #fff; font-size: 14px; font-weight: normal;
	outline: none; border: 0; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: #ec2227;
	cursor: pointer; -webkit-box-shadow: 0px 2px 2px 0px #d3d3d3; -moz-box-shadow: 0px 2px 2px 0px #d3d3d3; box-shadow: 0px 2px 2px 0px #d3d3d3; }
#lexisloginwrapper #forgotbtn:hover, #lexisloginwrapper #forgotbtn:active, #lexisloginwrapper #registerbtn:hover, #lexisloginwrapper #registerbtn:active {-webkit-box-shadow: 0px 2px 0px #fdfdfd; -moz-box-shadow: 0px 2px 0px #fdfdfd; box-shadow: 0px 2px 0px #fdfdfd;}

<<<<<<< HEAD

=======
.video-links {
	text-align: left;
}
.temp {
	font-weight: normal;
	font-size: 0.8em;
}
>>>>>>> c521b98... login page: added video links


/* forgot password page */

#page-login-forgot_password input[type="submit"] {width: 118px; padding: 5px; margin-top: 7px; color: #fff; font-size: 14px; font-weight: normal;
	outline: none; border: 0; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: #ec2227;
	cursor: pointer; -webkit-box-shadow: 0px 2px 2px 0px #d3d3d3; -moz-box-shadow: 0px 2px 2px 0px #d3d3d3; box-shadow: 0px 2px 2px 0px #d3d3d3; }
#page-login-forgot_password input[type="submit"]:hover, #lexisloginwrapper input[type="submit"]:active {-webkit-box-shadow: 0px 2px 0px #fdfdfd; -moz-box-shadow: 0px 2px 0px #fdfdfd; box-shadow: 0px 2px 0px #fdfdfd;}
#page-login-forgot_password .mform fieldset {width: 50%; margin: 15px auto; padding: 10px;}
#page-login-forgot_password .mform .fitem .fitemtitle {width: 45%;}
#page-login-forgot_password .mform .fitem .felement {width: 50%; margin-left: 50%;}
#page-login-forgot_password .generalbox {border: 0;}


/* Homepage content */

#page-site-index #page-content #region-main-wrap .region-content { margin: 0 auto; padding: 20px;}
#page-site-index #page-content #region-main-wrap .region-content .generalbox { padding: 0; margin-bottom: 0;}
#page-site-index #page-content #region-main-wrap .region-content .generalbox .no-overflow div {padding-bottom: 0 !important;}


/* Course format tiles */

.course-content .tiles {width: auto; max-width: 865px; margin: 0 auto;}
#tileoutlinetiles {width: 95%; max-width: 100%; margin-left: auto; margin-right: auto;}
li.tile {float: none !important; display: inline !important; width: auto !important; padding: 0 !important;}

.tile a {background-color: transparent !important; background-image: url([[pix:theme|coursetile]]); background-position: right top; background-repeat: no-repeat; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; border-radius: 0px !important; color: #d7d7d8 !important; border: 0 !important;

margin: 5px 5px !important; width: 263px !important; position: relative; height: 125px; padding: 0 !important; }
.tile a:hover {background-position: right -126px;}
.tile a:hover .tiletitle {color: #a6a8ab !important;}
.tiletopic {padding-right: 20px; padding-top: 6px;}
.tiletitle {position: absolute; bottom: 16px; right: 20px; text-align: right !important; text-transform: uppercase; height: auto !important;}
.tileoutlinearea {border: 0 !important; padding: 0 10px; color: white;}
.tileoutlinearea h2.headingblock {display: none;}
.tileoutlinearea a:link, .tileoutlinearea a:visited {color: white;}
.tileoutlinecontent {background: white url([[pix:theme|course_background]]) no-repeat !important; padding: 5px 15px 15px !important; min-height: 150px;}
.course-content .headingblock {color: #d7d7d8 !important; background-color: white !important; font-size: 1em; font-weight: normal; padding-left: 0;}
.tileoutlinecontent h3.sectionname {background: white; margin: -5px -15px 10px; padding: 10px 0 15px; color: #ec2227; font-size: 1.3em; font-weight: normal; letter-spacing: 0.02em;}
.tiletopicnav {padding-left: 10px;}
.tiletopicnav ul li a {background-color: white !important; color: #d4d4d4 !important; border: 1px solid #d4d4d4; padding: 5px 8px !important; line-height: 2.5em;}
.tiletopicnav ul li a:hover, .tiletopicnav ul li a.current {border-bottom-color: #a6a8ab !important; border-right-color: #a6a8ab !important; color: #a6a8ab !important;}
.tilecontentarea {background-color: white !important;}
.tilecontentarea h3.sectionname {color: #ec2227; font-size: 1.3em; font-weight: normal; letter-spacing: 0.02em;}

#page-mod-forum-view .unread a, .forumpost.unread .row.header a, .path-course-view .unread a, span.unread a {color: #333 !important;}

.path-course-view li.activity span.autocompletion, .path-course-view li.activity form.togglecompletion {right: 0 !important;}

.path-course-view .completionprogress {position: absolute; right: 40px; top: 15px; }

/* SCORM player customisation */

#scorm_content {width: auto; height: auto;}
#page-mod-scorm-player .clearfix {overflow: hidden;}
#page-mod-scorm-player #page {margin: 0 auto;}
.yui-layout-clip.yui-layout-clip-left {display: none !important;}
.yui-layout-clip.yui-layout-clip-left {display: none !important;}
.yui-layout-unit { width: 100% !important;}
.yui-layout div.yui-layout-bd {width: auto !important; height: auto !important; }
.yui-layout-clip.yui-layout-clip-left {display: none !important;}
.yui-skin-sam .yui-layout {background: white !important;}
#toctree {overflow: visible !important;}
#page-mod-scorm-player #page {margin: 0; width: 1100px;}
#page-mod-scorm-player #page-content .region-content {padding: 0; height: 735px; }
#page-mod-scorm-player .skiplinks {width: 1100px;}

#page-mod-scorm-player.has_dock {margin-left: 0;}
#page-mod-scorm-player.has_dock #dock {display: none;}
#page-mod-scorm-player #footerwrap {display: none;}
.yui-layout-wrap {left: 0 !important; top: 0 !important; height: 745px !important;}
.yui-layout-doc {overflow: visible; height: 745px !important;}
.yui-layout div.yui-layout-bd {height: 735px !important; }
.yui-layout-unit {left: 0 !important; }
#scorm_content {width: 1100px !important; }
#scorm_object {width: 100% !important; }
#scorm_layout {height: 745px !important; width: 1100px !important;}

/* iPad [portrait + landscape] */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px;) { 


#toctree {overflow: visible !important;}
#page-mod-scorm-player #page {margin: 0; width: 1100px;}
#page-mod-scorm-player #page-content .region-content {padding: 0; height: 735px; }
#page-mod-scorm-player.has_dock {margin-left: 0;}
#page-mod-scorm-player.has_dock #dock {display: none;}
#page-mod-scorm-player #footerwrap {display: none;}
.yui-layout-wrap {left: 0; top: 0; height: 735px !important;}
.yui-layout-doc {overflow: visible; }
.yui-layout div.yui-layout-bd {height: 725px !important; }
.yui-layout-unit {left: 0 !important;}
#scorm_content {width: 1100px !important; }
#scorm_object {width: 1100px !important; }

}

.generaltable.editcourse td.name a {float: left;}

/* /blocks/access_key_auth styles */

#page-site-index #mform1 {margin-top: 20px; font-size: 1.2em;}
#page-site-index .mform #fitem_id_email.fitem .fitemtitle, #page-site-index .mform #fitem_id_enrol_key.fitem .fitemtitle {width: 40% !important;}
#page-site-index .mform .fitemtitle {width: auto !important; text-align: left; color: #333;}
#page-site-index .mform #fitem_id_email.fitem .felement, #page-site-index .mform #fitem_id_enrol_key.fitem .felement {width: 60%; margin-left: 40%;}
#page-site-index .mform #fitem_id_email.fitem, #page-site-index .mform #fitem_id_enrol_key.fitem {padding: 30px;}
#page-site-index .mform #fitem_id_email.fitem .fitemtitle, #page-site-index .mform #fitem_id_enrol_key.fitem .fitemtitle {padding-left: 10px; color: #858585 !important;}
#page-site-index .mform #fgroup_id_buttonar .felement {margin-left: auto; text-align: center;}
#page-site-index input[type="text"], input[type="password"], textarea {width: 13em;}
#page-site-index #mform1 fieldset {margin-bottom: 0;}
#page-site-index input[type="submit"] {height: 40px;}

/* Fix for Andresco overlapping icon */
.fp-toolbar a {
    width: auto;
}
.fp-toolbar a:hover {
    background: none;
}
.fp-toolbar img {
    vertical-align: middle;
    margin-right: 2px;
}