/*
    Document   : styles
    Created on : Sep 28, 2012, 10:23:38 AM
    Author     : Greg Newton
    Copyright  : 2012, Androgogic
    Description:
        Default stylesheet for the Androgogic Tile Format.

        Override this styles via a customised theme.
*/

.tileoutlinearea {
    margin-top: 0px;
    border: solid 2px darkred;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tileoutlinearea .headingblock {
    background-color: darkred;
    background-image: none;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.tileoutlinecontent {
    padding: 5px;
}

.tileoutlinetiles {
    list-style:none;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

li.tile {
    display: block;
    float: left;
    width: 33.3%;
    margin: 0px;
    padding: 0px;
}

.tile a {
    text-decoration:none;
    background-color: darkred;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 90%;
    /*border: solid 2px red;*/
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tile a:hover {
    background-color: #622;
}

.tiletitle {
    display:block;
    text-align:center;
    height: 60px;
    overflow: hidden;
}

.tiletopic {
    display:block;
    font-size:x-small;
    text-align: right;
    color: #ccc;
}

.tiletopicnav {
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tiletopicnav ul {
    list-style:none;
    margin-left: 0px;
}

.tiletopicnav ul li {
    display:inline-block;
}

.tiletopicnav ul li a {
    text-decoration:none;
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tiletopicnav ul li a:hover {
    background-color: #622;
}

.tiletopicnav ul li a.current {
    text-decoration:none;
    background-color: #666;
    color: white;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tileothertopics {
    list-style:none;
    margin-left: 0px;
    margin-right: 0px;
}

.tilecontentarea {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.tileothertopics li.section .left {width:40px;float:left;text-align:center;}
ul.tileothertopics li.section .right {width:40px;float:right;text-align:center;}